html,
body {
    margin: 0;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    line-height: 1.2em;
}

h1 {
    font-size: 4.6rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.6rem;
}

h4 {
    font-size: 1.7rem;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6em;
    font-size: 1rem;
}

/* buttons */

.btn-geolumina {
    color: white;
    font-size: 1.2rem;
    padding: .6rem !important; 
    background: linear-gradient(#ffa724, #ff8300) !important;
    border-radius: 0.4rem !important;
    border-width: 0 !important;
    text-shadow: 0px  -1px 0px rgba(255, 131,0) !important;
    box-shadow: 0px 2px 0px #ff8400d7, 0px 1px 5px rgba(0,0,0,.3), inset 0px 1px 0px rgba(255,255,255,.2), inset 0px 0px 1px rgba(255,255,255,.4) !important;
  
  }

.btn-geolumina:hover {
  background: linear-gradient(#ffc524, #ff9900) !important;
  color: whitesmoke;
}

.btn-geolumina:focus {
  background: linear-gradient(bottom, #ff8300, #ffa724) !important;
  border: none;
  outline: none;
}

/* range sliders */
input[type="range"] {
    -webkit-appearance: none;
}
   
input[type="range"]:focus {
outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
background:  #ffc524;
height: 5px;
border-radius: 1.5rem;
}

input[type="range"]::-moz-range-track {
background: #ffc524;
height: 5px;
border-radius: 1.5rem;
}

input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
height: 15px;
width: 15px;
background: #ff8300;
margin-top: -5px;
border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
height: 15px;
width: 15px;
background: #ff8300;
margin-top: -5px;
border-radius: 50%;
}