html,
body {
    margin: 0;
}

/* headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    line-height: 1.2em;
}

h1 {
    font-size: 4.6rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.6rem;
}

h4 {
    font-size: 1.7rem;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6em;
    font-size: 1rem;
}

/* title */

.title{
  background-color: #762a83; 
  color: white;
  display: flex;
  margin: 1.5rem 0;
  padding: .7rem 1.5rem;
  width: 100vw;
}

.title-text{
  margin: 0;
  padding: 0;
}

/* buttons */

.btn-geolumina {
    color: white;
    font-size: 1.2rem;
    padding: .6rem !important; 
    background: linear-gradient(#ffa724, #ff8300) !important;
    border-radius: 0.4rem !important;
    border-width: 0 !important;
    text-shadow: 0px  -1px 0px rgba(255, 131,0) !important;
    box-shadow: 0px 2px 0px #ff8400d7, 0px 1px 5px rgba(0,0,0,.3), inset 0px 1px 0px rgba(255,255,255,.2), inset 0px 0px 1px rgba(255,255,255,.4) !important;
  
  }

.btn-geolumina:hover {
  background: linear-gradient(#ffc524, #ff9900) !important;
  color: whitesmoke;
}

.btn-geolumina:focus {
  background: linear-gradient(bottom, #ff8300, #ffa724) !important;
  border: none;
  outline: none;
}

/* range sliders */
input[type="range"] {
    -webkit-appearance: none;
}
   
input[type="range"]:focus {
outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
background:  #ffc524;
height: 5px;
border-radius: 1.5rem;
}

input[type="range"]::-moz-range-track {
background: #ffc524;
height: 5px;
border-radius: 1.5rem;
}

input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
height: 15px;
width: 15px;
background: #ff8300;
margin-top: -5px;
border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
height: 15px;
width: 15px;
background: #ff8300;
margin-top: -5px;
border-radius: 50%;
}

/* checkboxes */

/* Customize container */
.form-check {
  display: block;
  position: relative;
  margin-left: 1rem;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.form-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.form-check-input {
  position: absolute;
  top: .1rem;
  left: .7rem;
  height: 1.2rem;
  width: 1.2rem;
  background-color: #eee;
  border: 0.05rem solid #58595b;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.form-check:hover input ~ .form-check-input {
  background-color: #d9d9d9;
}

/* When the checkbox is checked, add an orange background */
.form-check input:checked ~ .form-check-input {
  background-color: #ffa724;
}

/* Create the checkmark/indicator (hidden when not checked) */
.form-check-input:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.form-check input:checked ~ .form-check-input:after {
  content: "";
  position: absolute;
  display: none;
}

/* Style the checkmark/indicator */
.form-check .form-check-input:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.dot {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
}

.yoda {
background: #FF0099;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

width: 200px;
height: 50px;
}

/*Pacific Dream - Blue to Light Emerald Green*/
.pacificDream {
background: #34e89e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

width: 200px;
height: 50px;
}

/*50 Shades of Grey - Lt Grey to Blue-Grey*/
.fiftyShades {
background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

width: 200px;
height: 50px;
}

/*Purple Bliss - Purple to Green-Blue*/
.purpleBliss{
background: #360033;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

width: 200px;
height: 50px;
}